body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}


.card{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}


.card header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  height:3em;
  padding:1em;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  height:3em;
  padding:1em;
}

.card article img{
  max-height: 100%;
  float: right;
}


.card h2, p{
  margin:0em;
}
.card article{
  height:12em;
  background-color: rgba(0,0,0,0.5);
}

.card h2{
  font-size: 2em;
  line-height: 1.5;
}

.card footer>p {
  font-size:1.5em;
  line-height: 1.5;

}

.card article>p{
  padding:1em;
  color: white;
}
.Ivan{
  z-index:1;
  position:absolute;
  left:20em;
  top:10em;
}
.Ivana{
  z-index:0;
  position:absolute;
  left:30em;
  top:20em;
}