ol{
    border:2px solid black;
    width:250px;
    padding:5px;
    list-style-position: inside;
}
li{
    padding:3px;
    padding-left: 34px;
   

}
li:nth-last-child(n+2){
    margin-bottom: 5px;
}
[lang~=en-GB]{
    background:  rgba(0, 255, 0, 0.75)  url("../images/en-GB.png") no-repeat 6px;
    

}
[lang~=es]{
    background: rgba(0, 0, 255, 0.5) url("../images/es.png")  no-repeat 6px;
  
}
[lang~=de]{
    background: rgba(255, 0, 0, 0.25) url("../images/de.png")  no-repeat 6px;
    
}
a{
text-decoration: none;
color:black;
}

a:hover{
    text-decoration: underline;
    color: red;
    text-transform: uppercase;
}